body{ font-family: 'Poppins', sans-serif;
        margin:0 ;
}
.top-banner{background-image: url(donation6.jpg);
    width: 100%; 
    background-repeat: no-repeat;
     background-size: cover;
    margin-bottom: 200px;
   margin-top: 0;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom top;
  }

.home-page{
    text-align: center;

 
}
.home-page-text{margin-top: 150px;
 font-size: 55px;

 color: white;
}
.home-page-text2{
    color: white;
    padding-bottom: 20px;
}

.link-button{

    text-decoration: none;

    background-color: #FC3D14 ;
   color: white;
    padding: 10px 30px;
    width: 500px;
    border-radius: 10px;

    font-size: 20px;
}
.donte-page{ 
    margin-bottom: 200px;
}
.donte-paragraph{ 
    text-align: center;}
    

p{color: #DDDBD9 ;
font-size: 17px;}
 
    .box-1{text-decoration: none;
        font-size: 30px;
         color: black;
         background-color:#F4F6F6 ;
         padding: 35px 25px;
         text-align: center;
         width: 120px;
          margin-left: 22px;
          border-radius: 5px;
          
     
      }
      .box-2{text-decoration: none;
        font-size: 30px;
         color:red;
         background-color: #F4F6F6 ;
        
         padding: 35px 25px;
         text-align: center;
         width: 120px;
         margin-left: 22px;
          border-radius: 5px;
          
          
          border: 2px solid red;
      }
      .box-3{text-decoration: none;
        font-size: 30px;
         color: black;
         background-color: #F4F6F6 ;
    
         padding: 35px 25px;
         text-align: center;
         width: 120px;
         margin-left: 22px;
          border-radius: 5px;
          
     
      }
      
    
      .box-4{text-decoration: none;
        font-size: 30px;
         color: black;
         background-color: #F4F6F6 ;
         padding: 35px 25px;
         text-align: center;
         width: 120px;
         margin-left: 22px;
          border-radius: 5px;
          
     
      }
    
      .box-5{text-decoration: none;
        font-size: 30px;
         color: black;
         background-color:#F4F6F6 ;
         padding: 35px 25px;
         text-align: center;
         width: 120px;
         margin-left: 22px;
          border-radius: 5px;
          
        
        
   
      }
        
 
     .box{ margin-left: 150px;
      
     
   
    
    padding-top: 20px;
      
     }

     .donate{

        text-align: center;

        padding-top: 50px;
        padding-bottom: 200px;
     }
     .size{
        font-size: 45px;
     }
    
     .amount{
        font-size: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCD1D1  ;
      margin-left: 280px;
        width: 800px;
        color:#CCD1D1  ;
     }
     .link-button1{

        text-decoration: none;
    
        background-color: #FC3D14 
        ;
        color:white;
        padding: 10px 30px;
        width: 500px;
        border-radius: 10px;
    
        font-size: 20px;
    }
    .button{padding-top: 20px;}

    .topbar{

        text-align: center;
    }
    .division-1{

        padding-top: 60px;
        padding-left: 20px;
         
         height: 280px;

         width: 330px;
         border-radius:5px ;
         background-color: #EBF5FB ;
         
    }

    .division-2{
        padding-top: 60px;
        padding-left: 20px;
         
         height: 280px;

         width: 330px;
         border-radius:5px ;
         margin-left: 25px;
       background-color:#FEF1EE 
       ;
    }
    .division-3{
        padding-top: 60px;
        padding-left: 20px;
        
         height: 280px;

         width: 330px;
         border-radius:5px ;
         margin-left: 25px;
       background-color: #FEF5E7 ;
    }

    .donation-plan{
        margin-bottom:200px ;
    }
    .description-donateplan {
      padding-left: 120px;


     display: flex;
    
    }
    .how-contribute{
        display: flex;
        margin-bottom: 200px;
    }
    .half-width{ padding-left: 125px;
        width:40%
    }
    .half-width img{
        width:80%;
        height: 120%;
        border-radius: 5px;
        padding-right:100px;
    }
    .button-link{

    

            text-decoration: none;
        
            background-color: #FC3D14 
            ;
            padding: 12px 35px;
            width: 550px;
            border-radius: 5px;
        color: white;
            font-size: 20px;
    
    
    }


.work-img{
    display:flex;
    width:20%;
    margin-left: 70px;
}
    .work-img img{
        height: 350px;

        width: 400px;
        padding-left: 40px;
        
    }
    .working-site{
        margin-bottom: 200px;
    }
    .work-speech{
        text-align: center;
    }

    .updates{
        text-align: center;
    }

    .subscribtion-site{

        font-size: 20px;

    }
    
    .subscribtion-site button{ height: 43px;
        width: 120px;
        font-size: 20px;
 margin-right: 35px;
 margin-top: 78px;
 background-color: #FC3D14;
    }
    .email-sign{
  
        width: 400px;
        height: 32px;
        padding: 5px;
        margin-left: 130px;
        margin-top: 78px;
        background-color: #CDC6C2 ;
        border-radius: 5px;
    }
    .subscribtion-site{display: flex;
      
    width: 800px;
height: 200px;

margin-left: 280px;
background-color:#F9EFE9  ;


border-radius: 5px;
} 
.about-site-updates{
    margin-bottom: 200px;
}

footer{
    text-align: center;
    height: 160px;
    background-color:  black;
}
h3{
    padding-top: 50px;
    color: red;
}
h5{
    color: white;
}